@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body{
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}
  
.bg-image {

    background-image: url("https://i.ibb.co/dm5qCWF/pexels-victor-freitas-841130.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  

.bg-form {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.6);

    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;

    outline: none;
    border-radius: 25px;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
  }
  
  input[type=text]:focus {
    border: 1px solid #555;
    outline: none;
    border-radius: 25px;
    border: 2px solid #2db595;
  }

  input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;

    outline: none;
    border-radius: 25px;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
  }
  
  input[type=password]:focus {
    border: 1px solid #555;
    outline: none;
    border-radius: 25px;
    border: 2px solid #2db595;
  }


 h1 {
    margin-top: 25px;
    font-size: 35px;
    text-align: center;

    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  
  a.nav:hover {
    color: rgb(27, 199, 156);
    font-size: 17px;
    line-height:18pt;
  }

  .gym-log {
    font-family: 'Dancing Script';
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    font-display: swap;
    color: rgb(250, 173, 7);
    font-weight: bold;
  }

  .forgot {

    font-size: 12px;
    font-family: Arial, sans-serif;
    display: inline-block;
    position: relative;
  }
  .forgot:before {
    content: '';
    background: #ffffff;
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    transition: 0.3s linear;
    z-index: -1;
  }
  .forgot:hover:before {
    width: 100%;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    opacity: 1;
    background-color: rgba(0,0,0,0.6);
  }

  .checker {
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 14px;
    font-display: swap;
    color: white;
  }